-r source_legacy/requirements.txt
-r source_inline/requirements.txt
requests
authlib==1.6.0
confluent_kafka==2.10.1
# confluent_kafka doesn't list dependencies, so we need to install them manually
# https://github.com/confluentinc/confluent-kafka-python/issues/1712
protobuf==5.28.0
fastavro==1.9.4
httpx==0.27.2
attrs
cachetools
jsonschema
google-auth
google-api-core
google-cloud-kms
pulsar-client==3.6.1
