[package]
edition = "2021"
name = "risingwave_batch"
version = "0.1.11"

[dependencies]
anyhow = "1"
assert_matches = "1"
async-recursion = "1"
async-stream = "0.3"
async-trait = "0.1"
byteorder = "1"
bytes = "1"
chrono = { version = "0.4", default-features = false, features = ["clock", "std"] }
crc32fast = "1"
either = "1"
farmhash = "1"
fixedbitset = { version = "0.4", features = ["std"] }
futures = { version = "0.3", default-features = false, features = ["alloc"] }
futures-async-stream = "0.2"
itertools = "0.10"
memcomparable = { path = "../utils/memcomparable" }
minitrace = "0.4"
num-traits = "0.2"
parking_lot = { version = "0.12", features = ["arc_lock"] }
paste = "1"
prometheus = { version = "0.13", features = ["process"] }
prost = "0.11"
rdkafka = { version = "0.28", features = ["cmake-build"] }
risingwave_common = { path = "../common" }
risingwave_connector = { path = "../connector" }
risingwave_expr = { path = "../expr" }
risingwave_hummock_sdk = { path = "../storage/hummock_sdk" }
risingwave_pb = { path = "../prost" }
risingwave_rpc_client = { path = "../rpc_client" }
risingwave_source = { path = "../source" }
risingwave_storage = { path = "../storage" }
serde = { version = "1", features = ["derive"] }
serde-value = "0.7"
serde_json = "1"
smallvec = "1"
static_assertions = "1"
tempfile = "3"
thiserror = "1"
tokio = { version = "0.2", package = "madsim-tokio", features = [
    "rt",
    "rt-multi-thread",
    "sync",
    "macros",
    "time",
    "signal",
    "fs",
] }
tokio-metrics = "0.1.0"
tokio-stream = "0.1"
tonic = { version = "0.2", package = "madsim-tonic" }
tracing = "0.1"
tracing-futures = "0.2"
twox-hash = "1"
url = "2"
uuid = "1"
weak-table = "0.3.2"

[target.'cfg(not(madsim))'.dependencies]
workspace-hack = { version = "0.1", path = "../workspace-hack" }

[dev-dependencies]
criterion = { version = "0.3.5", features = ["async_tokio", "async"] }
rand = "0.8"
tempfile = "3"
tikv-jemallocator = "0.5"

[[bench]]
name = "filter"
harness = false

[[bench]]
name = "nested_loop_join"
harness = false

[[bench]]
name = "sort_merge_join"
harness = false

[[bench]]
name = "hash_join"
harness = false

[[bench]]
name = "order_by"
harness = false

[[bench]]
name = "top_n"
harness = false

[[bench]]
name = "hash_agg"
harness = false

[[bench]]
name = "expand"
harness = false
