# regression test data
src/tests/regress/data/** linguist-vendored
# source test data
e2e_test/source_legacy/basic/scripts/test_data/** linguist-vendored
# generated grafana dashboard
grafana/risingwave-dashboard.json linguist-generated
