# regression test data
src/tests/regress/data/** linguist-vendored
# source test data
scripts/source/test_data/** linguist-vendored
# generated grafana dashboard
grafana/risingwave-dashboard.json linguist-generated
