[workspace]
members = [
  "src/batch",
  "src/bench",
  "src/cmd",
  "src/cmd_all",
  "src/common",
  "src/common/common_service",
  "src/compute",
  "src/connector",
  "src/ctl",
  "src/expr",
  "src/frontend",
  "src/frontend/test_runner",
  "src/meta",
  "src/object_store",
  "src/prost",
  "src/prost/helpers",
  "src/risedevtool",
  "src/rpc_client",
  "src/source",
  "src/sqlparser",
  "src/sqlparser/test_runner",
  "src/storage",
  "src/storage/compactor",
  "src/storage/hummock_sdk",
  "src/storage/hummock_test",
  "src/stream",
  "src/test_runner",
  "src/tests/regress",
  "src/tests/simulation",
  "src/tests/sqlsmith",
  "src/utils/async_stack_trace",
  "src/utils/memcomparable",
  "src/utils/pgwire",
  "src/utils/runtime",
  "src/utils/static-link",
  "src/utils/stats_alloc",
  "src/utils/value-encoding",
  "src/workspace-hack",
]

[profile.dev]
lto = 'off'

[profile.release]
debug = true

[profile.bench]
opt-level = 3
debug = false
codegen-units = 1
lto = 'thin'
incremental = false
debug-assertions = false
overflow-checks = false
rpath = false

# The profile used for CI in pull requests.
# External dependencies are built with optimization enabled, while crates in this workspace are built
# with `dev` profile and full debug info. This is a trade-off between build time and e2e test time.
[profile.ci-dev]
inherits = "dev"
incremental = false
lto = 'off'
[profile.ci-dev.package."*"] # external dependencies
opt-level = 1
debug = 1

# Patch third-party crates for deterministic simulation.
[patch.crates-io]
quanta = { git = "https://github.com/madsys-dev/quanta.git", rev = "a819877" }
getrandom = { git = "https://github.com/madsys-dev/getrandom.git", rev = "cc95ee3" }
