[package]
name = "risingwave_meta_service"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = "1"
async-trait = "0.1"
await-tree = { workspace = true }
futures = { version = "0.3", default-features = false, features = ["alloc"] }
itertools = { workspace = true }
rand = { workspace = true }
regex = { workspace = true }
risingwave_common = { workspace = true }
risingwave_connector = { workspace = true }
risingwave_hummock_sdk = { workspace = true }
risingwave_meta = { workspace = true }
risingwave_meta_model = { workspace = true }
risingwave_pb = { workspace = true }
sea-orm = { workspace = true }
serde_json = "1"
thiserror-ext = { workspace = true }
tokio = { version = "0.2", package = "madsim-tokio", features = [
    "rt",
    "rt-multi-thread",
    "sync",
    "macros",
    "time",
    "signal",
] }
tokio-stream = { workspace = true }
tonic = { workspace = true }
tracing = "0.1"

[dev-dependencies]

[target.'cfg(not(madsim))'.dependencies]
workspace-hack = { path = "../../workspace-hack" }

[lints]
workspace = true
