[package]
name = "risingwave_sqlparser"
license = "Apache-2.0"
include = ["src/**/*.rs", "Cargo.toml"]
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
repository = { workspace = true }

[lib]
path = "src/lib.rs"

[features]
default = ["std"]
std = []

[dependencies]
itertools = { workspace = true }
serde = { version = "1.0", features = ["derive"], optional = true }
task-local = "0.1"
thiserror = "2"
tracing = "0.1"
tracing-subscriber = "0.3"
winnow = "0.7.3"

[target.'cfg(not(madsim))'.dependencies]
workspace-hack = { path = "../workspace-hack" }

[dev-dependencies]
anyhow = "1"
console = "0.15"
libtest-mimic = "0.8"
matches = "0.1"
serde = { version = "1", features = ["derive"] }
serde_with = "3"
serde_yaml = "0.9"
walkdir = "2"

[package.metadata.release]
# Instruct `cargo release` to not run `cargo publish` locally:
# https://github.com/sunng87/cargo-release/blob/master/docs/reference.md#config-fields
# See docs/releasing.md for details.
disable-publish = true

[[bin]]
name = "sqlparser"
path = "src/bin/sqlparser.rs"

[[test]]
name = "parser_test"
harness = false

[lints]
workspace = true
