[package]
name = "risingwave_bench"
version = "0.1.11"
edition = "2021"

[dependencies]
async-trait = "0.1"
aws-config = { version = "0.46", default-features = false, features = ["rt-tokio", "native-tls"] }
aws-sdk-s3 = { version = "0.16", default-features = false, features = ["rt-tokio", "native-tls"] }
aws-smithy-http = "0.46"
bytes = "1"
bytesize = { version = "1", features = ["serde"] }
clap = { version = "3", features = ["derive"] }
futures = { version = "0.3", default-features = false, features = ["alloc"] }
hdrhistogram = "7"
itertools = "0.10"
libc = "0.2"
moka = { version = "0.9", features = ["future"] }
nix = { version = "0.24.1", features = ["fs", "mman"] }
parking_lot = "0.12"
prometheus = { version = "0.13", features = ["process"] }
rand = "0.8"
risingwave_common = { path = "../common" }
risingwave_hummock_sdk = { path = "../storage/hummock_sdk" }
risingwave_meta = { path = "../meta", features = ["test"] }
risingwave_pb = { path = "../prost" }
risingwave_rpc_client = { path = "../rpc_client" }
risingwave_storage = { path = "../storage" }
serde = { version = "1", features = ["derive"] }
tokio = { version = "0.2", package = "madsim-tokio", features = [
    "fs",
    "rt",
    "rt-multi-thread",
    "sync",
    "macros",
    "time",
    "signal",
] }
tokio-stream = "0.1"
toml = "0.5"
tracing = "0.1"
tracing-subscriber = "0.3"
workspace-hack = { version = "0.1", path = "../workspace-hack" }

[[bin]]
name = "file-cache-bench"
path = "file_cache_bench/main.rs"

[[bin]]
name = "s3-bench"
path = "s3_bench/main.rs"

