[package]
name = "risingwave_rt"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["rw-tokio"]

[dependencies]
await-tree = { workspace = true }
backtrace-on-stack-overflow = "0.3"
console = "0.15"
console-subscriber = "0.4"
either = "1"
futures = { version = "0.3", default-features = false, features = ["alloc"] }
hostname = "0.4"
parking_lot = { workspace = true }
pprof = { version = "0.15", features = ["flamegraph"] }
risingwave_common = { workspace = true }
risingwave_variables = { workspace = true }
rlimit = "0.10"
rustls = "0.23.5"
# Explicitly specify the tokio version used in RisingWave runtime
rw-tokio = { version = "=1.44.2", package = "tokio" }
thiserror-ext = { workspace = true }
time = { version = "0.3", features = ["formatting", "local-offset"] }
tokio = { version = "0.2", package = "madsim-tokio", features = [
    "rt",
    "rt-multi-thread",
    "sync",
    "macros",
    "time",
    "signal",
    "fs",
] }
tracing = "0.1"
tracing-opentelemetry = { workspace = true }
tracing-subscriber = { version = "0.3", features = [
    "fmt",
    "parking_lot",
    "std",
    "time",
    "local-time",
    "json",
] }

[target.'cfg(not(madsim))'.dependencies]
fastrace = "0.7"
fastrace-opentelemetry = "0.10"
opentelemetry = { workspace = true }
opentelemetry-otlp = { workspace = true }
opentelemetry-semantic-conventions = { workspace = true }
opentelemetry_sdk = { workspace = true, features = [
    "rt-tokio",
] } # only enable `rt-tokio` feature under non-madsim target
workspace-hack = { path = "../../workspace-hack" }

[lints]
workspace = true
