[server]
heartbeat_interval_ms = 1000
connection_pool_size = 16

[batch]

[streaming]
barrier_interval_ms = 250
in_flight_barrier_nums = 40
checkpoint_frequency = 10
worker_node_parallelism = 4

[storage]
shared_buffer_capacity_mb = 4096
sstable_size_mb = 256
block_size_kb = 1024
bloom_false_positive = 0.01
data_directory = "hummock_001"
block_cache_capacity_mb = 4096
meta_cache_capacity_mb = 1024
compactor_memory_limit_mb = 5120
slowdown_write_delay_ms = 100

[storage.file_cache]
capacity_mb = 1024
total_buffer_capacity_mb = 128
cache_file_fallocate_unit_mb = 512
cache_meta_fallocate_unit_mb = 16
cache_file_max_write_size_mb = 4

#The configurable parameters in [XXX.developer] subsection are for developers.
#Users are not encouraged to tune or depend on the following parameters.
#Some configurable parameters exist only temporarily.
[batch.developer]
batch_output_channel_size = 64
batch_chunk_size = 1024

[streaming.developer]
stream_enable_executor_row_count = false
stream_connector_message_buffer_size = 16
unsafe_stream_hash_agg_cache_size = 65536
unsafe_stream_join_cache_size = 65536
unsafe_stream_extreme_cache_size = 1024
stream_chunk_size = 1024
