[package]
name = "risingwave_frontend"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package.metadata.cargo-machete]
ignored = ["workspace-hack"]

[package.metadata.cargo-udeps.ignore]
normal = ["workspace-hack"]

[dependencies]
anyhow = "1"
arc-swap = "1"
arrow-schema = "36"
async-recursion = "1.0.2"
async-trait = "0.1"
bk-tree = "0.4.0"
bytes = "1"
clap = { version = "4", features = ["derive"] }
downcast-rs = "1.2"
dyn-clone = "1.0.4"
easy-ext = "1"
educe = "0.4"
enum-as-inner = "0.5"
fixedbitset = "0.4.1"
futures = { version = "0.3", default-features = false, features = ["alloc"] }
futures-async-stream = "0.2"
iana-time-zone = "0.1"
itertools = "0.10"
lazy_static = "1"
maplit = "1"
md5 = "0.7.0"
num-integer = "0.1"
parking_lot = "0.12"
parse-display = "0.6"
paste = "1"
petgraph = "0.6"
pgwire = { path = "../utils/pgwire" }
pin-project-lite = "0.2"
postgres-types = { version = "0.2.5" }
pretty-xmlish = "0.1.10"
pretty_assertions = "1"
prometheus = { version = "0.13", features = ["process"] }
rand = "0.8"
risingwave_batch = { path = "../batch" }
risingwave_common = { path = "../common" }
risingwave_common_proc_macro = { path = "../common/proc_macro" }
risingwave_common_service = { path = "../common/common_service" }
risingwave_connector = { path = "../connector" }
risingwave_expr = { path = "../expr" }
risingwave_pb = { path = "../prost" }
risingwave_rpc_client = { path = "../rpc_client" }
risingwave_source = { path = "../source" }
risingwave_sqlparser = { path = "../sqlparser" }
risingwave_storage = { path = "../storage" }
risingwave_udf = { path = "../udf" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha2 = "0.10.2"
smallvec = { version = "1.6.1", features = ["serde"] }
tempfile = "3"
thiserror = "1"
tokio = { version = "0.2", package = "madsim-tokio", features = [
    "rt",
    "rt-multi-thread",
    "sync",
    "macros",
    "time",
    "signal",
    "fs",
] }
tokio-stream = "0.1"
tonic = { version = "0.2", package = "madsim-tonic" }
tracing = "0.1"
uuid = "1"

[target.'cfg(not(madsim))'.dependencies]
workspace-hack = { path = "../workspace-hack" }

[dev-dependencies]
assert_matches = "1"
criterion = { version = "0.4", features = ["async_futures"] }
tempfile = "3"

[[bench]]
name = "bench_map_vnode_for_serving"
harness = false
