[package]
name = "risingwave_hummock_test"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[features]
failpoints = ["risingwave_storage/failpoints"]
sync_point = ["sync-point/sync_point", "serial_test"]
test = []
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1"
bytes = { version = "1" }
clap = { workspace = true }
fail = "0.5"
foyer = { workspace = true }
futures = { version = "0.3", default-features = false, features = ["alloc"] }
futures-async-stream = "0.2.9"
itertools = { workspace = true }
parking_lot = { workspace = true }
rand = { workspace = true }
risingwave_common = { workspace = true }
risingwave_common_service = { workspace = true }
risingwave_hummock_sdk = { workspace = true }
risingwave_hummock_trace = { workspace = true }
risingwave_meta = { workspace = true, features = ["test"] }
risingwave_object_store = { workspace = true }
risingwave_pb = { workspace = true }
risingwave_rpc_client = { workspace = true }
risingwave_storage = { workspace = true, features = ["test"] }
serial_test = { version = "3.2", optional = true }
tokio = { version = "0.2", package = "madsim-tokio" }

[target.'cfg(not(madsim))'.dependencies]
workspace-hack = { path = "../../workspace-hack" }

[dev-dependencies]
criterion = { workspace = true, features = ["async_futures"] }
expect-test = "1"
futures = { version = "0.3", default-features = false, features = [
    "alloc",
    "executor",
] }

futures-async-stream = "0.2.9"
risingwave_hummock_sdk = { workspace = true }
risingwave_test_runner = { workspace = true }
sync-point = { path = "../../utils/sync-point" }

[[bench]]
name = "bench_hummock_iter"
harness = false
required-features = ["test"]

[[bin]]
name = "replay"
path = "src/bin/replay/main.rs"

[lints]
workspace = true
