[package]
name = "pgwire"
version = "0.1.11"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1"
byteorder = "1.4"
bytes = "1"
regex = "1.5"
thiserror = "1"
tokio = { version = "0.2", package = "madsim-tokio", features = ["rt", "macros"] }
tracing = "0.1"
workspace-hack = { version = "0.1", path = "../../workspace-hack" }

[dev-dependencies]
tokio-postgres = "0.7.7"
