[package]
name = "pgwire"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = { version = "1.0", default-features = false }
auto_enums = { workspace = true }
byteorder = "1.5"
bytes = "1"
futures = { version = "0.3", default-features = false, features = ["alloc"] }
itertools = { workspace = true }
jsonwebtoken = { workspace = true }
ldap3 = { version = "0.11.3", default-features = false, features = ["tls-rustls"] }
openssl = "0.10.72"
panic-message = "0.3"
parking_lot = { workspace = true }
peekable = { version = "0.4", features = ["tokio"] }
postgres-types = { version = "0.2.6" }
reqwest = "0.12.2"
risingwave_common = { workspace = true }
risingwave_sqlparser = { workspace = true }
rustls = "0.21"
rustls-native-certs = "0.8.1"
rustls-pemfile = "1.0"
serde = { workspace = true }
serde_json = "1"
socket2 = "0.6"
thiserror = { workspace = true }
thiserror-ext = { workspace = true }
tokio = { version = "0.2", package = "madsim-tokio", features = [
    "rt",
    "macros",
] }
tokio-openssl = "0.6.3"
tracing = "0.1"
url = "2"

[target.'cfg(not(madsim))'.dependencies]
workspace-hack = { path = "../../workspace-hack" }

[dev-dependencies]
base64 = "0.22"
jsonwebtoken = { workspace = true }
rand = { version = "0.8" }
rsa = "0.9"
tempfile = "3"
tokio-postgres = "0.7"

[lints]
workspace = true
