[package]
name = "pgwire"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = { version = "1.0", default-features = false }
auto_enums = { workspace = true }
byteorder = "1.5"
bytes = "1"
futures = { version = "0.3", default-features = false, features = ["alloc"] }
itertools = { workspace = true }
jsonwebtoken = "9"
openssl = "0.10.72"
panic-message = "0.3"
parking_lot = { workspace = true }
peekable = { version = "0.3", features = ["tokio"] }
postgres-types = { version = "0.2.6" }
reqwest = "0.12.2"
risingwave_common = { workspace = true }
risingwave_sqlparser = { workspace = true }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
socket2 = "0.5"
thiserror = "2"
thiserror-ext = { workspace = true }
tokio = { version = "0.2", package = "madsim-tokio", features = [
    "rt",
    "macros",
] }
tokio-openssl = "0.6.3"
tracing = "0.1"

[dev-dependencies]
tempfile = "3"
tokio-postgres = "0.7"

[target.'cfg(not(madsim))'.dependencies]
workspace-hack = { path = "../../workspace-hack" }

[lints]
workspace = true
