// Copy this file to .vscode/launch.json and edit it to your needs
{
    "version": "0.2.0",
    "configurations": [
        {
            // Use this if you want to debug risedev p locally
            "name": "Launch playground debug",
            "type": "lldb",
            "request": "launch",
            "program": "${workspaceRoot}/target/debug/risingwave",
            "args": [
                "playground"
            ],
            "cwd": "${workspaceRoot}",
            "preLaunchTask": "build rw bin"
        }
    ]
}