// Copy this file to .vscode/settings.json and edit it to your needs
{
    "protoc": {
        "options": [
            "--proto_path=proto"
        ]
    },
    "yaml.schemas": {
        "src/risedevtool/schemas/risedev.json": "risedev.yml",
        "src/risedevtool/schemas/risedev-profiles.user.json": "risedev-profiles.user.yml"
    },
    // // ============================================================================
    // // BEGIN SECTION: configurations for the development of dynamic linking 
    // // dependencies (e.g., OpenSSL, zstd)
    // // ============================================================================
    // "rust-analyzer.cargo.noDefaultFeatures": true,
    // "rust-analyzer.cargo.features": [
    //     "rw-dynamic-link"
    // ],
    // "rust-analyzer.cargo.extraEnv": {
    //     "OPENSSL_ROOT_DIR": "/opt/homebrew/opt/openssl@3"
    // },
    // // ===========================================================================
    // // END SECTION
    // // ===========================================================================
    //
    // // ============================================================================
    // // BEGIN SECTION: configurations for the development of deterministic testing
    // // ============================================================================
    // "rust-analyzer.cargo.extraEnv": {
    //     "RUSTFLAGS": "--cfg tokio_unstable --cfg madsim"
    // },
    // "rust-analyzer.runnableEnv": {
    //     "RUSTFLAGS": "--cfg tokio_unstable --cfg madsim"
    // },
    // "rust-analyzer.checkOnSave.overrideCommand": [
    //     "cargo",
    //     "check",
    //     "-p",
    //     "risingwave_simulation",
    //     "--tests",
    //     "--message-format=json",
    // ],
    // "rust-analyzer.runnables.extraArgs": [
    //     "--profile",
    //     "ci-release" // Replace with your target profile
    // ],
    // "rust-analyzer.server.extraEnv": {
    //     "CARGO_TARGET_DIR": "target/analyzer"
    // },
    // "terminal.integrated.env.linux": {
    //     "RUSTFLAGS": "--cfg tokio_unstable --cfg madsim"
    // },
    // // ===========================================================================
    // // END SECTION
    // // ===========================================================================
}
