[package]
name = "risingwave_rpc_client"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = "1"
async-trait = "0.1"
easy-ext = "1"
either = "1.15.0"
futures = { version = "0.3", default-features = false, features = ["alloc"] }
http = "1"
lru = { workspace = true }
moka = { version = "0.12.0", features = ["future"] }
paste = "1"
rand = { workspace = true }
risingwave_common = { workspace = true }
risingwave_error = { workspace = true }
risingwave_hummock_sdk = { workspace = true }
risingwave_pb = { workspace = true }
rw_futures_util = { workspace = true }
static_assertions = "1"
thiserror = "1"
thiserror-ext = { workspace = true }
tokio = { version = "0.2", package = "madsim-tokio", features = [
    "rt",
    "rt-multi-thread",
    "sync",
    "macros",
    "time",
    "signal",
] }
tokio-retry = "0.3"
tokio-stream = { workspace = true }
tonic = { workspace = true }
tower = "0.5"
tracing = "0.1"

[target.'cfg(not(madsim))'.dependencies]
workspace-hack = { path = "../workspace-hack" }

[dev-dependencies]
risingwave_hummock_sdk = { workspace = true }

[lints]
workspace = true
