[package]
name = "risingwave_rpc_client"
version = "0.1.11"
edition = "2021"

[dependencies]
anyhow = "1"
async-trait = "0.1"
async_stack_trace = { path = "../utils/async_stack_trace" }
futures = { version = "0.3", default-features = false, features = ["alloc"] }
paste = "1"
risingwave_common = { path = "../common" }
risingwave_hummock_sdk = { path = "../storage/hummock_sdk" }
risingwave_pb = { path = "../prost" }
thiserror = "1"
tokio = { version = "0.2", package = "madsim-tokio", features = [
    "rt",
    "rt-multi-thread",
    "sync",
    "macros",
    "time",
    "signal",
] }
tokio-retry = "0.3"
tonic = { version = "0.2", package = "madsim-tonic" }
tracing = "0.1"
workspace-hack = { version = "0.1", path = "../workspace-hack" }

[target.'cfg(not(madsim))'.dependencies]
moka = { version = "0.9", features = ["future"] }
