[package]
name = "risingwave_jni_core"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
bytes = "1"
cfg-or-panic = "0.2"
chrono = { workspace = true }
fs-err = "3"
futures = { version = "0.3", default-features = false, features = ["alloc"] }
jni = { version = "0.21.1", features = ["invocation"] }
paste = "1"
prost = { workspace = true }
risingwave_common = { workspace = true }
risingwave_pb = { workspace = true }
thiserror = "1"
thiserror-ext = { workspace = true }
tokio = { version = "0.2", package = "madsim-tokio", features = [
    "fs",
    "rt",
    "rt-multi-thread",
    "sync",
    "macros",
    "time",
    "signal",
] }
tracing = "0.1"

[dev-dependencies]
expect-test = "1"

[lints]
workspace = true
