---
version: "3"
services:
  compactor-0:
    extends:
      file: ../../docker/docker-compose.yml
      service: compactor-0
  compute-node-0:
    extends:
      file: ../../docker/docker-compose.yml
      service: compute-node-0
  etcd-0:
    extends:
      file: ../../docker/docker-compose.yml
      service: etcd-0
  frontend-node-0:
    extends:
      file: ../../docker/docker-compose.yml
      service: frontend-node-0
  grafana-0:
    extends:
      file: ../../docker/docker-compose.yml
      service: grafana-0
  meta-node-0:
    extends:
      file: ../../docker/docker-compose.yml
      service: meta-node-0
  minio-0:
    extends:
      file: ../../docker/docker-compose.yml
      service: minio-0
  prometheus-0:
    extends:
      file: ../../docker/docker-compose.yml
      service: prometheus-0
  # Use this command to connect to the DB from outside the container:
  #   docker exec postgres psql --username=myuser --dbname=mydb
  postgres:
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=mydb
    ports:
      - 8432:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready --username=myuser --dbname=mydb" ]
      interval: 5s
      timeout: 5s
      retries: 5
    command: [ "postgres", "-c", "wal_level=logical" ]
    restart: always
    container_name: postgres
  postgres_prepare:
    image: postgres
    depends_on:
      - postgres
    command:
      - /bin/sh
      - -c
      - "psql postgresql://myuser:123456@postgres:5432/mydb < postgres_prepare.sql &&
         psql postgresql://myuser:123456@postgres:5432/mydb < compatibility-pg.sql &&
         sleep 5 &&
         psql postgresql://root:@frontend-node-0:4566/dev < compatibility-rw.sql"
    volumes:
      - "./postgres_prepare.sql:/postgres_prepare.sql"
      - "./compatibility-pg.sql:/compatibility-pg.sql"
      - "./compatibility-rw.sql:/compatibility-rw.sql"
    container_name: postgres_prepare
    restart: on-failure
  datagen_tpch:
    image: ghcr.io/risingwavelabs/go-tpc:v0.1
    depends_on: [ postgres ]
    command: tpch prepare --sf 1 --threads 4 -d postgres -U myuser -p '123456' -H postgres -D mydb -P 5432 --conn-params sslmode=disable
    container_name: datagen_tpch
    restart: on-failure
  datagen_kafka:
    build: ../datagen
    depends_on: [ message_queue ]
    command:
      - /bin/sh
      - -c
      - /datagen --mode nexmark --qps 2 kafka --brokers message_queue:29092
    restart: always
    container_name: datagen_kafka
  message_queue:
    extends:
      file: ../../docker/docker-compose.yml
      service: message_queue
volumes:
  compute-node-0:
    external: false
  etcd-0:
    external: false
  grafana-0:
    external: false
  minio-0:
    external: false
  prometheus-0:
    external: false
  message_queue:
    external: false
name: risingwave-compose
