name: Release Branch Initialization

on:
  push:
    branches:
      - 'release-[0-9]*.[0-9]*'

jobs:
  bump-main-branch-version:
    runs-on: ubuntu-latest
    if: github.event.created == true
    permissions:
      contents: write
      pull-requests: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run initialization tasks
        run: |
          release_branch_name=${{ github.ref_name }}"
          echo "New release branch detected: ${release_branch_name}"

          patch=$(echo $release_branch_name | cut -d'-' -f2)
          echo "--- Bump main branch version files"
          sed -i "s/^version = .*$/version = \"${patch}.0-alpha\"/" Cargo.toml
          cargo update -vv -w
          
          git checkout -b bump-main-${patch}
          git add Cargo.toml Cargo.lock
          git commit -m "chore: bump main branch version to ${patch}.0-alpha"
          git push -u origin bump-main-${patch}
          gh pr create --title "chore: bump main branch version to ${patch}.0-alpha" --body "This PR bumps the main branch version to ${patch}.0-alpha." --base main --head bump-main-${patch} --reviewer risingwavelabs/performance-reliability
