name: Deprecation Notice for old cherry-pick label
on:
  pull_request:
    branches:
      - main
    types: ["labeled"]

jobs:
  deprecation_notice:
    if: startsWith(github.event.label.name, 'need-cherry-pick-release-')
    runs-on: ubuntu-latest
    steps:
      - name: Add deprecation notice comment
        uses: actions/github-script@v6
        with:
          script: |
            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.payload.pull_request.number,
              body: '> [!WARNING]\n> The `need-cherry-pick-release-xx` label is deprecated. Please use `need-cherry-pick-since-release-xx` instead for future PRs.'
            })

permissions:
  issues: write
  pull-requests: write
