name: Connector Node Integration Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  merge_group:
    types: [ checks_requested ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17', '21' ]
    name: Java ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            java:
              - 'java/**'
            proto:
              - 'proto/**'
      - name: Set up JDK ${{ matrix.java }}
        if: steps.filter.outputs.java == 'true' || steps.filter.outputs.proto == 'true'
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
          cache: 'maven'
      - name: run integration tests
        if: steps.filter.outputs.java == 'true' || steps.filter.outputs.proto == 'true'
        run: |
          set -ex

          RISINGWAVE_ROOT=${PWD}

          echo "--- build connector node"
          cd ${RISINGWAVE_ROOT}/java
          # run unit test
          # WARN: `testOnNext_writeValidation` is skipped because it relies on Rust code to decode message,
          #       while we don't build Rust code (`-Dno-build-rust`) here to save time
          mvn --batch-mode --update-snapshots clean package -Dno-build-rust \
            '-Dtest=!com.risingwave.connector.sink.SinkStreamObserverTest#testOnNext_writeValidation' \
            -Dsurefire.failIfNoSpecifiedTests=false
