name: License checker

on:
  push:
    branches:
    - main
    - "forks/*"
  pull_request:
    branches:
    - main
    - "v*.*.*-rc"
  merge_group:
    types: [checks_requested]
jobs:
  license-header-check:
    runs-on: ubuntu-latest
    name: license-header-check
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
    - name: Check License Header
      uses: korandoru/hawkeye@v6
