name: License checker

on:
  push:
    branches:
    - main
    - "forks/*"
  pull_request:
    branches: [main]
jobs:
  license-header-check:
    runs-on: ubuntu-latest
    name: license-header-check
    steps:
    - uses: actions/checkout@v3
    - name: Check License Header
      uses: apache/skywalking-eyes/header@main
