name: License checker

on:
  push:
    branches:
    - main
    - "forks/*"
  pull_request:
    branches: 
    - main
    - "v*.*.*-rc"
  merge_group:
    types: [checks_requested]
jobs:
  license-header-check:
    runs-on: ubuntu-latest
    name: license-header-check
    steps:
    - uses: actions/checkout@v3
    - name: Check License Header
      uses: apache/skywalking-eyes@775fe1ffda59b7e100aa144d0ef8d7beae17f97d
