name: License checker

on:
  push:
    branches:
    - main
    - "forks/*"
  pull_request:
    branches:
    - main
    - "v*.*.*-rc"
  merge_group:
    types: [checks_requested]
jobs:
  license-header-check:
    runs-on: ubuntu-latest
    name: license-header-check
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: taiki-e/install-action@v2
      with:
        tool: hawkeye@6
    - name: Check License Header
      run: hawkeye check
