name: Package Version Checker

on:
  pull_request:
    branches:
      - 'main'

jobs:
  compare-package-version-with-latest-release-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check Cargo.toml version bump for new release cycle
        shell: bash
        run: bash ci/scripts/package_version_check.sh --cargo-toml Cargo.toml
